<h1 id="tableLabel">Statistik</h1>

<p>Statistik über die letzten 48 Stunden</p>

<p *ngIf="!stats"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="stats">
  <thead>
      <tr>
          <th>Name</th>
          <th>Median</th>
          <th>Arithmetisches Mittel</th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let value of stats">
          <td>{{ value.name }}</td>
          <td>{{ value.median }}</td>
          <td>{{ value.arethmeticMean }}</td>
      </tr>
  </tbody>
</table>
