/* You can add global styles to this file, and also import other style files */
@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/materia/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';

.line {
  fill: none;
  stroke: #ffab00;
  stroke-width: 2;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
  fill: #ffab00;
  stroke: #fff;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}

